<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Thank You for Parking</title>
</head>
<body class="container">
    <h1 class="heading">Thank You for Parking, {{ name }}!</h1>
    <p class="message">Your total amount is ${{ total_amount }}. Visit again!</p>
    <a href="/" class="home-link">
        <button type="button" class="home-button">Back to Home Page</button>
    </a>
</body>
</html>
